
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>生体認証サンプル</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/gh/herrjemand/Base64URL-ArrayBuffer@latest/lib/base64url-arraybuffer.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/amazon-cognito-identity.js"></script>
    <script src="/webauthn-client.js"></script>
    
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
  </head>
  <body class="w3-container">

      <h2>
        生体認証サンプル
      </h2>
      
      <div id="tabs">
        <ul>
          <li><a href="#tabs-1">ユーザ登録</a></li>
          <li><a href="#tabs-2">ログイン</a></li>
          <li><a href="#tabs-3">生体登録</a></li>
        </ul>
        <div id="tabs-1">
          <input class="w3-input"  type="text" id="reg-username" placeholder="ユーザ名"/><br>
          <input class="w3-input"  type="password" id="reg-password" placeholder="パスワード(6桁以上必要)"/><br>
          <input class="w3-input" type="text" id="reg-email" placeholder="メールアドレス"/><br>
          <input class="w3-input" type="text" id="reg-name" placeholder="名前"/><br>
          <button class="w3-btn w3-black" onclick="signUp()">ユーザ登録</button> 
        </div>
        <div id="tabs-2">
          <input class="w3-input" type="text" id="login-username" placeholder="ユーザ名"/><br>
          <input class="w3-input" type="password" id="login-password" placeholder="パスワード"/><br>
          <p>認証方法:</p>
          <input class="w3-radio" type="radio" name="authentication" value="password"><label>パスワード認証</label><br>
          <input class="w3-radio" type="radio" name="authentication" value="fido"><label>生体認証</label><br><br>
          <input class="w3-radio" type="radio" name="authentication" value="both" checked><label>パスワード + 生体認証</label><br>
          <button class="w3-btn w3-black" onclick="signIn()">ログイン</button> 
        </div>
         <div id="tabs-3">
          <button class="w3-btn w3-black" onclick="createCredential2()">生体登録</button> 
        </div>
      </div>
      <br><br>
      <pre class="" id="idToken"></pre>
      <pre class="" id="accessToken"></pre>
      <pre class="" id="refreshToken"></pre>
  </body>
</html>
